<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColorGoggles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ColorGoggles.Properties.Settings>
            <setting name="Games" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>csgo.exe</string>
                        <string>dota2.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="GameSat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinSat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Check1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Check3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Check2" serializeAs="String">
                <value>True</value>
            </setting>
        </ColorGoggles.Properties.Settings>
    </userSettings>
</configuration>